<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mammal Classification App</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <header>
        <h1 class="h1">Mammal Classification App</h1>
    </header>

    <section class="s1">
        <h2 class="h2_up">
            {% if img_path %}
                Uploaded Image
            {%else%}
                Upload Image
            {%endif%}
        </h2>
        <form id="uploadForm" action='/upload/' method='post' enctype="multipart/form-data">
            <input type="file" name="image" accept=".jpg, .png" required>
            <div class="div1">
            {% if img_path %}
            <!-- Display the uploaded image -->
            <img src="{{ url_for('uploaded_file', filename=img_path.split('/')[-1]) }}" alt="Uploaded Image">
            {%else%}
            <p>Image Preview</p>
            {% endif %}
            </div>
        <div>
	    <button type="reset" class="btn1">Clear</button>
            <button type="submit" class="btn2">Upload</button>
        </div>
        </form>
    </section>

    <section class="s2">
        <h2 class="h2_down">
            {%if output %}
            {{output}}
            {%else%}
            Classification Result
            {%endif%}
        </h2>
    </section>
</body>
</html>
